In [1]:
# import the pandas library
import pandas as pd

In [15]:
# analyze ncaa-team-data to figure out the top 5 teams in terms of all-time NCAA final wins

# input the dataset
# read it somehow
fpath = "../Project 4 Datasets/ncaa-team-data.csv"
# read it into a pandas datastructure
dataset = pd.read_csv(fpath)

# compute the number of wins per team
# go through the dataset, grouped by team
grouped_dataset = []
for team, teamData in dataset.groupby("school"):
    numwins = 0
    # go through teh results of that team
    for result in teamData['ncaa_result']:
        # if it won
        if result == "Won National Final":
            # add to our count
            numwins += 1
    teamResults = {
        'team': team,
        'numWins': numwins
    }
    # add the results to the results dataset
    grouped_dataset.append(teamResults)
# turn the results dataset into a dataframe
grouped_dataset = pd.DataFrame(grouped_dataset)
grouped_dataset

# sort the dataset by number of wins, descending
grouped_dataset = grouped_dataset.sort_values(by="numWins", ascending=False)
# show the top 5
top5 = grouped_dataset.head(10)
top5

               team  numWins
299            ucla       11
136        kentucky        8
124         indiana        5
77             duke        5
198  north-carolina        5
62      connecticut        4
133          kansas        3
148      louisville        3
49       cincinnati        2
88          florida        2

In [12]:
# show me all the times that ucla won
dataset[(dataset['ncaa_result']=="Won National Final") & (dataset['school'] == "ucla")].sort_values(by="year", ascending=False)

,school,conf,rk,w,l,wl,srs,sos,pts_for,pts_vs,pts_total,ap_pre,ap_high,ap_final,pts_diff,ncaa_result,ncaa_numeric,season,coaches,year
20960,ucla,Pac-10,23,31.0,2.0,0.939,23.74,10.08,87.5,NaN,NaN,6.0,1.0,1.0,NaN,Won National Final,48.0,1994-95,Jim Harrick (31-2),1994.0
20980,ucla,Pac-8,43,28.0,3.0,0.903,21.07,8.55,NaN,NaN,NaN,2.0,1.0,1.0,NaN,Won National Final,48.0,1974-75,John Wooden (28-3),1974.0
20982,ucla,Pac-8,45,30.0,0.0,1.000,27.98,6.71,NaN,NaN,NaN,1.0,1.0,1.0,NaN,Won National Final,48.0,1972-73,John Wooden (30-0),1972.0
20983,ucla,Pac-8,46,30.0,0.0,1.000,33.79,3.46,NaN,NaN,NaN,1.0,1.0,1.0,NaN,Won National Final,48.0,1971-72,John Wooden (30-0),1971.0
20984,ucla,Pac-8,47,29.0,1.0,0.967,20.91,5.98,NaN,NaN,NaN,1.0,1.0,1.0,NaN,Won National Final,48.0,1970-71,John Wooden (29-1),1970.0
20985,ucla,Pac-8,48,28.0,2.0,0.933,25.02,6.42,NaN,NaN,NaN,4.0,1.0,2.0,NaN,Won National Final,48.0,1969-70,John Wooden (28-2),1969.0
20986,ucla,Pac-8,49,29.0,1.0,0.967,26.69,5.85,NaN,NaN,NaN,1.0,1.0,1.0,NaN,Won National Final,48.0,1968-69,John Wooden (29-1),1968.0
20987,ucla,AAWU,50,29.0,1.0,0.967,32.56,6.33,NaN,NaN,NaN,1.0,1.0,2.0,NaN,Won National Final,48.0,1967-68,John Wooden (29-1),1967.0
20988,ucla,AAWU,51,30.0,0.0,1.000,29.39,3.49,NaN,NaN,NaN,1.0,1.0,1.0,NaN,Won National Final,48.0,1966-67,John Wooden (30-0),1966.0
20990,ucla,AAWU,53,28.0,2.0,0.933,21.33,7.09,NaN,NaN,NaN,2.0,1.0,2.0,NaN,Won National Final,48.0,1964-65,John Wooden (28-2),1964.0
20991,ucla,AAWU,54,30.0,0.0,1.000,22.51,4.35,NaN,NaN,NaN,30.0,1.0,1.0,NaN,Won National Final,48.0,1963-64,John Wooden (30-0),1963.0

In [18]:
grouped_dataset2 = []
for group, groupData in dataset.groupby("conf"):
    numwins = 0
    # go through teh results of that team
    for result in groupData['ncaa_result']:
        # if it won
        if result == "Won National Final":
            # add to our count
            numwins += 1
    groupResults = {
        'conf': group,
        'numWins': numwins
    }
    # add the results to the results dataset
    grouped_dataset2.append(groupResults)
# turn the results dataset into a dataframe
grouped_dataset2 = pd.DataFrame(grouped_dataset2)
grouped_dataset2.sort_values(by="numWins", ascending=False)

        conf  numWins
4        ACC       13
60       SEC       11
16   Big Ten       10
13  Big East        8
58     Pac-8        6
..       ...      ...
35       MAC        0
1      A-Sun        0
37       MCC        0
38      MEAC        0
72    Yankee        0

[73 rows x 2 columns]